extends layout

block content

            .container
                h1 About Us
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
